.user-info img {
    margin-top: 10px;
    width: 250px;
    height: 200px;
}

/* .user-info h2{
    
} */

.search input {
    width: 30%;
    height: 50px;
    font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
